.cartao 
{
	width: 606px;
	height: auto;
	max-height: 851px;
	background: #ffffff;
	box-shadow: 0px 44px 84px -60px rgba(113, 19, 160, 0.09);
	border-radius: 24px;
	padding: 64px 104px;
	box-sizing: border-box;
	text-align: center;
}

.cartao .convite {
	display: inline-block;
	width: 100%;
	margin-top: 15px;
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	color: #1c2852;
}

.cartao h1 {
	width: 100%;
	margin: 10px 0px;
	font-family: 'Mulish', sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 24px;
	line-height: 30px;
	color: #1c2852;
}

.cartao .caixa-informacao
{
	width: 286px;
	text-align: center;
	padding: 8px;
	background: #F8F4FA;
	border-radius: 8px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.cartao h3 
{
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	color: #1C2852;
	font-size: 16px;
}

.cartao form 
{
	width: 398px;
	margin-top: 30px;
	margin-left: auto;
    margin-right: auto;
}

.cartao form label
{
	display: inline-block;
	width: 100%;
	text-align: left;
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	color: #1C2852;
	margin: 8px 0px;
}

.cartao form input 
{
	display: inline-block;
	padding: 15px 10px;
	outline: none;
	width: 100%;
	border: 1px solid #C2ADC2;
	border-radius: 8px;
	color: #1C2852;
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

input::placeholder {
	color: #1C2852;
}

input::-webkit-input-placeholder {
	color: #1C2852;
}

input::-ms-input-placeholder {
	color: #1C2852;
}

.cartao form .termos-politica
{
	width: 100%;
	margin-top: 30px;
}

.cartao form .termos-politica .checkbox
{
	display: block;
	position: relative;
	padding-left: 45px;
	cursor: pointer;
	font-family: 'Mulish', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #1C2852;
}

.cartao form .termos-politica input
{
	position: absolute;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    width: 20px;
}

.cartao form .termos-politica .checkbox .check {
	left: 0;
	top: 0;
	width: 33px;
	height: 33px;
	background: #ffff;
	border: 1px solid #C2ADC2;
	position: absolute;
	border-radius: 8px;
}

.cartao form .termos-politica .checkbox .check:after
{
	top: 0px;
	left: 8px;
	width: 10px;
	height: 20px;
	border: solid #a30062;
	border-width: 0px 6px 6px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform:  rotate(45deg);
	transform: rotate(45deg);
}

.cartao form .termos-politica .checkbox .check:after {
	content: " ";
	position: absolute;
	display: none;
}

.cartao form .termos-politica .checkbox input:checked ~ .check:after {
	display: block;
}

.cartao form .termos-politica a 
{
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: underline;
	color: #A30062;
}

.cartao  a 
{
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: underline;
	color: #A30062;
}